<div class="container main-frame" ng-app="derbyContactManagerFrontendApp" ng-controller="ContactsCtrl"
     ng-init="addInit()">
    <div ng-class="messageClass">
        {{message}}
    </div>

    <h2>Add a Contact</h2>

    <form novalidate class="form-horizontal">

        <input type="hidden" id="inputFacebookId" class="form-control" ng-model="contact.facebook_id">
        <input type="hidden" id="inputFacebookLink" class="form-control" ng-model="contact.facebook_link">

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" for="inputName">Name</label>
                    <input type="text" id="inputName" class="form-control" class="form-control" placeholder="Name"
                           ng-model="contact.name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <input type="text" id="inputEmail" class="form-control" placeholder="Email"
                           ng-model="contact.email">
                </div>
                <div class="form-group">
                    <label class="control-label" for="inputPhone">Phone</label>
                    <input type="text" id="inputPhone" class="form-control" placeholder="Phone"
                           ng-model="contact.phone">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" for="inputDerbyName">Derby Name</label>

                    <input type="text" id="inputDerbyName" class="form-control" placeholder="Derby Name"
                           ng-model="contact.derby_name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="selectOrganizationID">Organization</label>

                    <select class="form-control" ng-model="contact.organization_id"
                            ng-options="organization.Organization.id as organization.Organization.name for organization in organizationList"></select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="selectOrganizationID">Role</label>

                    <select class="form-control" ng-model="contact.role_id"
                            ng-options="role.Role.id as role.Role.name for role in roleList"></select>
                </div>
                <div class="form-group">
                    <button ng-click="add(contact)" class="btn">Add Contact</button>
                </div>
            </div>
        </div>
    </form>

</div>