<div class="container main-frame" ng-app="derbyContactManagerFrontendApp" ng-controller="ContactsCtrl" ng-init="init()">
    <div style="clear:both;"></div><br />

    <div class="btn-group-vertical btn-group-lg contact-list">
        <a href="#/contacts/view/{{contact.Contact.id}}" class="contact-btn btn btn-default" ng-repeat="contact in results" data-id="{{contact.Contact.id}}">
            {{contact.Contact.derby_name}}
            <span ng-show="contact.Contact.derby_name">/</span>
            {{contact.Contact.name}}  -
            <span ng-hide="contact.Contact.organization_id">Not Affiliated</span>
            {{contact.Organization.name}}
        </a>
    </div>
</div>