<div class="container main-frame" ng-app="derbyContactManagerFrontendApp" ng-controller="ContactsCtrl" ng-init="init()">
    <a href="#/contacts/add" class="btn btn-success pull-right">Add New Contact</a>
    
    <div style="clear:both;"></div><br />
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Derby Name</th>
                <th>Name</th>
                <th>Organization</th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="contact in results">
            <td>{{contact.Contact.derby_name}}</td>
            <td>{{contact.Contact.name}}</td>
            <td>{{contact.Organization.name}}</td>
            <td><a href="#/contacts/view/{{contact.Contact.id}}" class="btn">View</a></td>
        </tr>
    </table>

</div>