<div class="container main-frame" ng-app="derbyContactManagerFrontendApp" ng-controller="ContactsCtrl" ng-init="viewInit()">
    <h2>{{contact.Contact.name}} <span ng-hide="contact.Contact.derby_name">/</span> {{contact.Contact.derby_name}}</h2>
    <h3 ng-show="contact.Contact.organization_id">{{contact.Organization.name}}</h3>
    <h3 ng-hide="contact.Contact.organization_id">Not Affiliated</h3>
    
    <a href="#" class="btn pull-right">Back to List</a>

    <dl>
        <dt>Phone</dt>
        <dd>{{contact.Contact.phone}}</dd>
        <dt>Email</dt>
        <dd><a href="mailto:{{contact.Contact.email}}">{{contact.Contact.email}}</a></dd>
    </dl>

</div>