<div class="container main-frame" ng-app="derbyContactManagerFrontendApp" ng-controller="OrganizationsCtrl" ng-init="init()">

    <a href="#/organizations/add" class="btn btn-success pull-right">Add New Organization</a>
    
    <div style="clear:both;"></div><br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tr ng-repeat="organization in results">
            <td>{{organization.Organization.name}}</td>
            <td>
                <a href="#/organizations/view/{{organization.Organization.id}}" class="btn">View</a>
                <a href="#/organizations/edit/{{organization.Organization.id}}" class="btn">Edit</a>
                <a href="" class="btn btn-danger" data-ng-click="deleteOrganization(organization.Organization.id)">Delete</a>
            </td>
        </tr>
    </table>

</div>